<link rel="import" href="bower_components/polymer/polymer.html">
<dom-module id="p-country">
    <template>
        <div class="col-md-4">
            <div class="country">
                <div class="flag">
                    <img src={{imagen}}/>
                </div>
                <div class="info">
                    <div>Nombre: <span> {{nombre}}  </span></div>
                    <div>Capital: <span> {{capital}} </span></div>
                    <div>Poblacion: <span> {{poblacion}} </span></div>
                </div>
            </div>
        </div>
    </template>
    <script>
        Polymer({
            is: 'p-country',
            properties: {
                nombre: String,
                capital: String,
                poblacion: String,
                imagen: String
            }
        });
    </script>
</dom-module>